body {
  font-family: inter;
  font-size: 40px;
  color: #3c3c3b;
  text-align: center;
  font-weight: bold;
  padding-top: 70px;
}
a:link {
  text-decoration: none;
  color: #3c3c3b;
}

a:visited {
  text-decoration: none;
  color: #3c3c3b;
}

a:hover {
  text-decoration: underline;
  color: #3c3c3b;
}

a:active {
  text-decoration: underline;
  color: #3c3c3b;
